<!DOCTYPE html>
<html>
  <head>
    <title>Status</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="antialiased font-sans bg-gray-100">
    <header class="bg-white shadow">
      <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold text-gray-900 text-center">
          Status Page
        </h1>
      </div>
    </header>
    <main>
      <div class="max-w-7xl mx-auto py-12 sm:px-6 lg:px-8">
        <div class="max-w-4xl mx-auto">
          <div class="services bg-white shadow overflow-hidden sm:rounded-lg">
            <div class="px-4 py-5 sm:px-6">
              <h3 class="text-lg leading-6 font-medium text-gray-900">
                Services
              </h3>
            </div>
            <div class="border-t border-gray-200">
              <dl>
                <% @statuses[:results].each_with_index do |status, index| %>
                  <div class="<%= index.odd? ? 'bg-gray-50' : 'bg-white' %> px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="name text-sm font-medium text-gray-500">
                      <%= status[:name] %>
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                      <div class="state <%= 'text-red-600' if status[:status].downcase == 'error' %> font-bold">
                        <%= status[:status] %>
                      </div>
                      <% if !status[:message].empty? %>
                        <div class="message text-slate-600"><%= status[:message] %></div>
                      <% end %>
                    </dd>
                  </div>
                <% end %>
              </dl>
            </div>
          </div>
          <% if @statuses[:environment_variables].present? %>
            <div class="env-variables bg-white shadow overflow-hidden sm:rounded-lg my-6">
              <div class="px-4 py-5 sm:px-6">
                <h3 class="text-lg leading-6 font-medium text-gray-900">
                  Environment Variables
                </h3>
              </div>
              <div class="border-t border-gray-200">
                <dl>
                  <% @statuses[:environment_variables].each_with_index do |env_var, index| %>
                    <div class="<%= index.odd? ? 'bg-gray-50' : 'bg-white' %> px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                      <dt class="text-sm font-medium text-gray-500">
                        <%= env_var[0] %>
                      </dt>
                      <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        <%= env_var[1] %>
                      </dd>
                    </div>
                  <% end %>
                </dl>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </main>
    <% if !@hide_footer %>
      <footer>
        <div class="font-light text-center text-slate-500 text-xs px-5">
          Powered by <a href="https://github.com/lbeder/health-monitor-rails" target="_blank">health-monitor-rails</a>
        </div>
      </footer>
    <% end %>
  </body>
</html>
